body {
		font-size: 2em;
		font-family: 'Roboto Condensed', sans-serif;
		background-color: green;
	}
	.rubrik {
		color: blue;
		font-family: 'Libre Barcode 39 Text', cursive;
	}
	#content {
		margin: 0 auto;
		width: 80%;
		background-color: #006400;
	}
	h1 {
		color: blue;
	}